body {
      background-color: #f1f3eb80;
      font: 400 1em Courier, monospace;
      margin: 0 auto 50px;
      max-width: 1200px;
      line-height: 1.6;
      font-size: 18px;
      color:#444;
      padding: 0 15px;
  }